extends layout

block content
  header
    .header-content
      .header-content-inner
        h1#homeHeading Guestlist management at your fingertips.
        hr
        p
          | Focus on what you do best. Leave the tedious task of handling guestlist management and registrations to us!
        a.btn.btn-primary.btn-xl.page-scroll(href='#about') Find Out More
  section#about.bg-primary
    .container
      .row
        .col-lg-8.col-lg-offset-2.text-center
          h2.section-heading We've got you covered!
          hr.light
          p.text-faded
            | listt has everything you need to manage your event guestlist effectively. By providing clear and actionable guest data, we strive to make guestlist management an easy and painless task. Try out our free plan now!
          a.page-scroll.btn.btn-default.btn-xl.sr-button(href='#services') Get Started!
  section#services
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading At Your Service
          hr.primary
    .container
      .row
        //- .col-lg-3.col-md-6.text-center
        //-   //- .service-box
        //-   //-   i.fa.fa-4x.fa-diamond.text-primary.sr-icons
        //-   //-   h3 Sturdy Templates
        //-   //-   p.text-muted Our templates are updated regularly so they don't break.
        .col-lg-4.col-md-6.text-center
          .service-box
            i.fa.fa-4x.fa-paper-plane.text-primary.sr-icons
            h3 Transparent communication
            p.text-muted listt faciliates easy communication between hosts and guests!
        .col-lg-4.col-md-6.text-center
          .service-box
            i.fa.fa-4x.fa-newspaper-o.text-primary.sr-icons
            h3 Clear and concise
            p.text-muted A minimalistic dashboard that provides easy access to RSVP and event data.
        .col-lg-4.col-md-6.text-center
          .service-box
            i.fa.fa-4x.fa-heart.text-primary.sr-icons
            h3 Made with Love
            p.text-muted Minimum fuss and maximum fun!
  //- section#portfolio.no-padding
  //-   .container-fluid
  //-     .row.no-gutter.popup-gallery
  //-       .col-lg-4.col-sm-6
  //-         a.portfolio-box(href='/images/portfolio/fullsize/1.jpg')
  //-           img.img-responsive(src='/images/portfolio/thumbnails/1.jpg', alt='')
  //-           .portfolio-box-caption
  //-             .portfolio-box-caption-content
  //-               .project-category.text-faded
  //-                 | Category
  //-               .project-name
  //-                 | Project Name
  //-       .col-lg-4.col-sm-6
  //-         a.portfolio-box(href='/images/portfolio/fullsize/2.jpg')
  //-           img.img-responsive(src='/images/portfolio/thumbnails/2.jpg', alt='')
  //-           .portfolio-box-caption
  //-             .portfolio-box-caption-content
  //-               .project-category.text-faded
  //-                 | Category
  //-               .project-name
  //-                 | Project Name
  //-       .col-lg-4.col-sm-6
  //-         a.portfolio-box(href='/images/portfolio/fullsize/3.jpg')
  //-           img.img-responsive(src='/images/portfolio/thumbnails/3.jpg', alt='')
  //-           .portfolio-box-caption
  //-             .portfolio-box-caption-content
  //-               .project-category.text-faded
  //-                 | Category
  //-               .project-name
  //-                 | Project Name
  //-       .col-lg-4.col-sm-6
  //-         a.portfolio-box(href='/images/portfolio/fullsize/4.jpg')
  //-           img.img-responsive(src='/images/portfolio/thumbnails/4.jpg', alt='')
  //-           .portfolio-box-caption
  //-             .portfolio-box-caption-content
  //-               .project-category.text-faded
  //-                 | Category
  //-               .project-name
  //-                 | Project Name
  //-       .col-lg-4.col-sm-6
  //-         a.portfolio-box(href='/images/portfolio/fullsize/5.jpg')
  //-           img.img-responsive(src='/images/portfolio/thumbnails/5.jpg', alt='')
  //-           .portfolio-box-caption
  //-             .portfolio-box-caption-content
  //-               .project-category.text-faded
  //-                 | Category
  //-               .project-name
  //-                 | Project Name
  //-       .col-lg-4.col-sm-6
  //-         a.portfolio-box(href='/images/portfolio/fullsize/6.jpg')
  //-           img.img-responsive(src='/images/portfolio/thumbnails/6.jpg', alt='')
  //-           .portfolio-box-caption
  //-             .portfolio-box-caption-content
  //-               .project-category.text-faded
  //-                 | Category
  //-               .project-name
  //-                 | Project Name
  aside.bg-dark
    .container.text-center
      .call-to-action
        h2 Try us out for free today!
        a.btn.btn-default.btn-xl.sr-button(href='http://startbootstrap.com/template-overviews/creative/') Let's do it!
  section#contact
    .container
      .row
        .col-lg-8.col-lg-offset-2.text-center
          h2.section-heading Let's Get In Touch!
          hr.primary
          p
            | Ready to host your next event with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
        .col-lg-4.col-lg-offset-2.text-center
          i.fa.fa-phone.fa-3x.sr-contact
          p 123-456-6789
        .col-lg-4.text-center
          i.fa.fa-envelope-o.fa-3x.sr-contact
          p
            a(href='mailto:your-email@your-domain.com') hello@listt.com
            
